<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackey.finance.component.mapper.AccountInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.blackey.finance.component.domain.AccountInfo" id="accountInfoMap">
        <result property="openId" column="open_id"/>
        <result property="openid" column="openid"/>
        <result property="tatalAmount" column="tatal_amount"/>
        <result property="withdrawAmount" column="withdraw_amount"/>
    </resultMap>


</mapper>