package ${package}.${moduleName}.dto.form;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;

/**
 * ${comments} Form表单
 * 
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}Form implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
    private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)
	/**
	 * set：${column.comments}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
	/**
	 * get：${column.comments}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
}
