package ${package}.${moduleName}.component.mapper;

import ${package}.${moduleName}.component.domain.${className};
import com.blackey.mybatis.dao.BaseDAO;


/**
 * ${comments} ${className}Mapper
 * 
 * @author ${author}
 * @date ${datetime}
 */

public interface ${className}Mapper extends BaseDAO<${className}> {
	
}
