package ${package}.${moduleName}.dto.form;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import lombok.Getter;
import lombok.Setter;

import java.io.Serializable;
import java.util.Date;

/**
 * ${comments} Form表单
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Getter
@Setter
public class ${className}Form implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
    private $column.attrType $column.attrname;
#end

}
