package ${package}.${moduleName}.component.service.impl;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.blackey.mybatis.service.impl.BaseServiceImpl;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.blackey.mybatis.utils.Query;

import ${package}.${moduleName}.component.mapper.${className}Mapper;
import ${package}.${moduleName}.component.domain.${className};
import ${package}.${moduleName}.component.service.${className}Service;

import java.util.Map;

/**
 * ${comments} ${className}ServiceImpl
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

    private static final Logger LOGGER = LoggerFactory.getLogger(${className}ServiceImpl.class);

    @Override
    public IPage queryPage(Map<String, Object> params) {
        IPage<${className}> page = this.page(
                new Query<${className}>(params).getPage(),
                new QueryWrapper<${className}>()
        );

        return page;
    }

}
