package ${package}.${moduleName}.component.service;

import com.blackey.mybatis.service.BaseService;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${package}.${moduleName}.component.domain.${className};

import java.util.Map;

/**
 * ${comments} ${className}Service
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService<${className}> {

    /**
    * 分页查询
    * @param params
    * @return
    */
    IPage queryPage(Map<String, Object> params);
}

