<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackey.artisan.component.mapper.ServiceProcessMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.blackey.artisan.component.domain.ServiceProcess" id="serviceProcessMap">
        <result property="id" column="id"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="picUrl" column="pic_url"/>
        <result property="content" column="content"/>
        <result property="projectId" column="project_id"/>
    </resultMap>


    <select id="queryBoByOrderId" resultType="com.blackey.artisan.dto.bo.ServiceProcessBo">
        select * from service_process p where p.order_id = #{orderId}
    </select>
</mapper>